<div class="popup center" id="delete-box-cont">
    <div class="delete-box">
      <p> Are you sure you want to delete this book ?</p>
      <div class="flex-e">
        <form method="POST"  id="deleteBook">
            <button typ="submit" class="b center r">Delete</button>
          </form>
        <div class="b center" onclick="hideDeleteBox()" >cancel</div>
        
      </div>
    </div>
  </div>