<%- include('./components/DeleteBox.ejs');%>
<nav class="space-b user-nav">
  <div class="child" >
    <h4>My Books</h4>
    
  </div>
  <form action="" class="child f-start">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" id="search" x="0px" y="0px" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><g><path d="M20.031,20.79c0.46,0.46,1.17-0.25,0.71-0.7l-3.75-3.76c1.27-1.41,2.04-3.27,2.04-5.31
      c0-4.39-3.57-7.96-7.96-7.96s-7.96,3.57-7.96,7.96c0,4.39,3.57,7.96,7.96,7.96c1.98,0,3.81-0.73,5.21-1.94L20.031,20.79z
       M4.11,11.02c0-3.84,3.13-6.96,6.96-6.96c3.84,0,6.96,3.12,6.96,6.96c0,3.84-3.12,6.96-6.96,6.96C7.24,17.98,4.11,14.86,4.11,11.02
      z"></path></g></svg>
    <input type="text" placeholder="search here " name="q" /> 
  </form>
  <button class="resete-btn center hover active"    title="back" style="font-size: 30px; padding: 5px;" onclick="history.back()">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M112 160l-64 64 64 64"></path><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M64 224h294c58.76 0 106 49.33 106 108v20"></path></svg>
  </button>
</nav>

<section id="myBooks">
  <%if(books.length >0 ) {%>
    <div class="grid">
      <% books.forEach((book) => {%>
        <%- include('./components/MyBook.ejs', {book: book});%>
      <% }) %>
    </div>
    <%} else {%>
      <div class="vide-box-cont center">
      <div class="vide-box center">
        <div class="search-icon"></div>
        <h3>Ups!... no results found</h3>
      <p>Please try another search</p>
      </div>
    </div>
      <% }%>
</section>
<script src="/js/edit~delete.js"></script>