<div class="users-side">
  <div class="users-side-header">
    <div class="space-b">
      <h1>our Bookworms</h1>
      <p onclick="hideRegisterSide()">
        Close
      </p>
    </div>
    <div class="input-box">
      <input
        class="search-input"
        id="userSearch-input"
        onKeyUp="showUserResults(this.value)"
        placeholder="Search your bookworm"
      />
      <div class="input-button" id="user-search-button">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>

  <div id="users-list">
    <% users.forEach((user) => { %>
      <div class="user center">
        <div class="user-img">
          <img src="<%=user.userImage %>" alt="">
        </div>
        <h5 class="user-name"><%= user.username %></h5>
      </div>
    
    <% }) %>
  </div>
</div>
