* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
:root {
  --bg:#FFFDF7;

  --color:#222;
  --border: #5f6368;
  --bg2:#fdf8e1;
}
body.dark {
  --bg:#022C43;
  --color:#E7F6F2;
  --border: #5f6368;
  --bg2:#083358;
}
svg {
  display: flex;
  fill:currentColor;
  pointer-events: none;
}
.process-bg-pattern {
  position: relative;
  margin-right: -2.08em;
  margin-left: -2.08em;
  padding-top: 7.4em;
  padding-bottom: 0.2em;
  background-image: url("https://uploads-ssl.webflow.com/6359140b3878a7a73023f955/635a989c76b13b6211bd581f_Bg-grid-pattern.webp");
  background-position: 0px 0px;
  background-size: 75px;
}

.hover:hover {


  background: rgba(135, 216, 248, 0.4);
}
.active:active{
  color: #555;
  background: rgba(109, 159, 235, 0.5);
}
body {
   background-color: var(--bg) ;
   color:var(--color);
  font-family: 'Poppins', sans-serif;
overflow: hidden;
  position: relative;
}
body .bar{

  position: fixed;
  left: 0px;
  top:0;
  width:20px;
  height: 100%;
  z-index: -2;
}
body .bar.one{
  transform: translateX(40px);
  background: linear-gradient(to bottom, #ffe97f 60%, #fdca2160 );
}
body .bar.two{
  transform: translateX(20px);
  background: linear-gradient(to bottom, #ffe566 70%, #fdd85d4d  );
}
body .bar.three{
  background: linear-gradient(to bottom, #ffdd32 80%, #fdca2160 );
}

body.dark .bar.one{

  background: linear-gradient(to bottom,#033860 60%, #0232576b );
}
body.dark .bar.two{

  background: linear-gradient(to bottom, #07335a 70%, #07335a48 );
}
body.dark .bar.three{
  background: linear-gradient(to bottom, #021d35 70%, #05284752  );
}
 
.body-cont {
  display: grid;
  grid-template-columns: 100vw 0px;
}
@media (min-width:1102px) {
  .body-cont.show-rightSide {

    grid-template-columns: calc(100vw - 400px) 400px;
  }
}

/* start stayling right side */
.right-side {
  
  display: flex;
  overflow-x: hidden;
  height: 100vh;
  position: sticky;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2),0 2px 6px 2px rgba(0,0,0,.15);
  top: 0;

}
.right-side .loader{
  position: absolute;

}
.right-side .login-close {
  position: absolute;
  top: 9px;

  left: 15px;


}
.right-side .close {

  line-height: 0;
  padding: 7px !important;
  font-size: 30px;
cursor: pointer;
border-radius: 50%;
z-index: 30;
}

.right-side h1{
  margin-bottom: 20px;

}
/* end of stayling right side */
.container {
 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }
}




img {
  max-width: 100%;
  display: block;
  max-height: 100%;
width: 100%;
object-fit: cover;
object-position: top;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
/* h4 {
  margin-top: 15px;
} */


.pr {
  position: relative;
}




.hide-btn {
  opacity: 0.5;
  pointer-events: none;
}
.loader {
  display: none;
  z-index: -20000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.58);
}
.loader.show {
  display: flex;
  z-index: 20000;
}
.loader .box {
  margin: auto;
  height: 200px;

  width: 360px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  border: 2px solid #ddd;
}
.circle {
  margin: auto;
  --circle-size: 60px;
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 50%;

  position: relative;
}

.circle .dot {
  --total-dots: 8;
  --deration: 3s;
  --dot-decrement: calc(1px * var(--l));
  --dot-size: calc(16px - var(--dot-decrement));
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: #828080;
  position: absolute;
  left: calc(50% - var(--dot-size) / 2);

  top: calc(0% - var(--dot-size) / 2);
  transform-origin: calc(var(--dot-size) / 2)
    calc((var(--circle-size) / 2) + var(--dot-size) / 2);
  animation: spin var(--deration) ease-out infinite;
  animation-delay: calc(((var(--deration) / 2) / var(--total-dots)) * var(--l));
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  50%,
  100% {
    transform: rotate(360deg);
  }
}

.alert {
  padding: 15px 20px;
  height: fit-content;
  width: fit-content;
  font-size: 25px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  margin: auto;
  text-align: center;
  transform: scale(0.8);
  transition: 0.3s;
  text-transform: capitalize;
  max-width: 340px;
}
.alert.show {
  display: block;
  transform: scale(1);
}

.alert.success {
  color: #155724;
}

.alert.error {
  color: #880602;
}
.alert .btn {
  padding: 5px 30px;
  margin-top: 15px;
}
.alert p i {
  font-size: 80px;
  margin-bottom: 5px;
  display: block;
}
button {
  cursor: pointer;
}
button:disabled {
  opacity: 0.5 !important;
}
select,
textarea,
button,
input {
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  color: inherit;
  resize: none;
}

.margin-5 {
  margin: 5px;
}

.hide {
  display: none !important;
}
.pad {
  padding: 0 30px;
}
.bold {
  font-weight: bold;
}
.f-start,
.center,
.flex-e ,
.space-b {
  display: flex;
  align-items: center;
  
}
.center {

  justify-content: center;

}
.f-start {

  justify-content: flex-start;

}
.space-b {
  justify-content: space-between;
}
.flex-e {
  justify-content: flex-end;
}



/* start of header stayling */
header {
  height: 65px;
  padding: 10px 5vw !important;
  border-bottom: 1px solid var(--border);
  position: relative;

  
}
.logo {
  justify-content: flex-start;

}
.logo img {
  width: 45px;
}
.logo h1 {
  font-size: 20px;
  position: relative;
  width: fit-content;
  background: linear-gradient(
    135deg,
    transparent 7px,
    #dd415b 7px,
    #ecbd2c 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: translate(-20px, 10px);
}
.logo h1 span {
  font-size: 16px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #f08d5d;
  z-index: 222;
  -webkit-text-fill-color: #f08d5d;
}

.drop-down {
position: relative;}
.drop-down>.space-b{
  gap:15px}
.drop-down>.space-b h4{
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;

}

header .left .link{
  padding: 3px 10px;

}

header .left .link.active{

  background: #222;
  color: #fff;
}

header .user-img{
margin-left: 10px;}

.login-btn {

  padding: 5px 15px;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  color: #8ab4f8;
  border: 1px solid #8ab4f8;
}
.login-btn:nth-child(2) {

  background-color: #8ab4f8;
  color: var(--bg);
}
header .theme-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.theme-btn svg {
transition: 0.3s ease opacity;
transition: 0.3s ease opacity;
font-size: 27px;}
.theme-btn .sun{
  opacity: 1;
  display: block;
}
.theme-btn .moon{
  opacity: 0;
  display: none;
}
body.light .theme-btn .sun{
  opacity: 0;
  display: none;
}
body.light .theme-btn .moon{
  opacity: 1;
  display: block;
}
/* end of header stayling */
/* start of nav stayling */
nav {
  margin: 20px 5vw;
font-size: 1.2rem;
  border-radius: 50px;
  border: 1px solid var(--border);}
  .nav{
    display: grid;
    grid-template-columns: repeat(3, calc((100% / 3) - 20px)) 60px;}
  nav .child {
    width: 100%;
    padding: 15px;
    border-right: 1px solid var(--border);
  }
  nav .child h1{
    text-transform: capitalize;
    font-weight: 500;
  }
  nav .child:last-child {
    border-right: none;
  }
  nav form {

  gap: 10px;}
nav .resete-btn {
  padding: 10px;
  border-radius: 50%;
  margin: 0 11px;
 cursor: pointer;
}
nav .resete-btn:disabled {
opacity: 0.5;
cursor: no-drop;}

nav .drop-down .list {
  position: absolute;
  top: 60px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  background: var(--bg2);
  border-radius: 8px;
  width: 100%;
  left: 0;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
}
nav .drop-down .list li{
padding: 5px 10px;
border-radius: 5px;
text-transform: capitalize;
}

nav .drop-down.show .list{
  opacity: 1;
  margin-top: 8px;
  visibility: visible;
}
nav .drop-down svg {
transition: 0.3s ease;

}
nav .drop-down.show svg {
  rotate: -180deg;

}
@media (max-width : 700px) {
  nav{
    margin: 0;
    border-radius: 0;
    border-top: 0;
  }
  .nav {
    position: relative;
    grid-template-columns:  50% 50%;
  }
  .nav form.child{
     grid-column: span 2;
     border-bottom: 1px solid var(--border);
     border-right: none;
     padding-right: 50px;
  }
  .nav .child:nth-child(3){
     
     border-right: none;

  }
  .nav  .resete-btn{
     position: absolute;
     top: 0;
     right: 0;
     height: 50px;
  }
}

.book-box {
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  text-align: center;
  overflow: hidden;
  border: 3px double var(--border);
}

.book-box.hide {
  transform: scale(0.8);
  transition: 0.3s ease;
}
.book-box .s-img {
  background: #fcfaf7;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border: 2px solid #e9ab2f;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: #8c6552;
  max-width: 45px;
}
.book-box .username {
  background: #e9ab2f;
  margin-left: -15px;
  padding: 1px 10px 1px 15px;
  border-radius: 0 21px 20px 0;
  text-align: left;
  z-index: 1;
  max-width: calc(100% - 45px);
}
.book-box .saveBook {
  padding: 3px 1px;
  width: fit-content;
  background: #fefefe7a;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
  font-size: 27px;
  color: #222;
}

.book-box .book-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  overflow-x: hidden;
}
.book-box .book-head .info {
  transform: translateX(calc(-100% - 10px));
  transition: 0.3s ease;
  max-width: calc(100% - 40px);
  gap: 5px;
  z-index: 2;
}
.book-box .book-cover {
  position: relative;
  transition: 0.3s ease;
  overflow: hidden;
  height: 100%;
}





.book-box:hover .book-cover img {
  transform: scale(1);
  filter: brightness(0.5);
}
.book-box:hover .book-head .info {
  transform: translateX(0%);
}

.book-box .book-head .info h5 {
  margin: 0;
  pointer-events: none;
  text-transform: capitalize;
}
.book-box .book-head .info > div {
  pointer-events: none;
}
.book-box .book-head .info:hover h5 {
  text-decoration: underline;
}
.book-box:hover .book-i {
  opacity: 1;
}
.book-box .book-i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #f6f6f6;
  z-index: 6;
  opacity: 0;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.s-p {
  font-size: 9px;
  pointer-events: none;
}
.s-img {
  pointer-events: none;
  width: 55px;
  height: 55px;
  background-color: var(--color);
  border-radius: 50%;
  font-size: 30px;
  color: var(--bg);
  overflow: hidden;

}
.book-box .content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 14px 10px;
  text-align: left;
  background: linear-gradient(to bottom, #00000003, #000);
  color: #ffff;
  z-index: 3;
  overflow: hidden;
  transition: 0.3s ease;
}
.book-box .book-head .info h5,
.book-box .book-head .info p,
.book-box .content p,
.book-box .content h3 {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}
.book-box .book-head .btns {
  padding: 0;
  width: fit-content;
  gap: 10px;
}
.book-box .book-head .btns i {
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 18px;
}
.book-box .book-head .btns i:hover {
  transform: scale(1.4);
}

.book-box:hover .book-cover {
 
  transition: 0.3s ease;
}

.book-box:hover .book-cover img {
  transform: scale(1.1);
}

.book-box .book-cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  pointer-events: none;
}










.mini-menu {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 30;
  width: 40px;
  height: 40px;

}
.mini-menu.move{
  right: 430px;
}
.mini-menu .sub-btn,
.nav-btn {
 
  width: 40px;
  height: 40px;
  background-color: var(--bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
  border-radius: 50%;
  cursor: pointer;
}
.mini-menu .sub-btn{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.mini-menu .sub-btn svg{
  fill: var(--color);
  width: 24px;
  display: block;
}
.mini-menu.open .sub-btn {
 z-index: 1;
 }
.mini-menu.open .sub-btn.one {
 transform: translateY(-135px);

}
.mini-menu.open .sub-btn.two {
 transform: translateY(-90px);

}
.mini-menu.open .sub-btn.three {
 transform: translateY(-45px);

}
.nav-btn span {
  width: 26px;
  height: 2px;
  background-color: var(--color);
  position: absolute;
  left: 7px;
  border-radius: 5px;
  top: 50%;
  transition: 0.3s ease transform;
}
.nav-btn span:first-child {
  transform: translateY(calc(-50% - 4px));
}
.nav-btn span:nth-child(2) {
  transform: translateY(-50%);
}
 .nav-btn span:last-child {
  transform: translateY(calc(-50% + 4px));
}
header .nav-btn {
  position: absolute;
z-index: 2500;
box-shadow: none;
display: none;
top: 50%;
left: 50%;
translate: -50% -50%;

}


.mini-menu.open .nav-btn span:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.mini-menu.open .nav-btn span:nth-child(2) {
  opacity: 0;
}

.mini-menu.open .nav-btn span:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

header #userImage--header  img{
  width: 50px;
  height: 50px
}


#userImage--header {
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #572930;
  cursor: pointer;
  width: fit-content;
  overflow: hidden;
  transition: 0.3s ease;
}
#userImage--header img {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 8px #000;
  height: 60px;
}
#userImage--header:hover {
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
  border-radius: 0;
}
#userImage--header:hover img {
  box-shadow: none;
}

/*Search*/

.input-box {
  width: 100%;
  display: flex;
  --white:#fff;
--black:#000;
border: 2px solid var(--black);
}
@media (max-width: 570px) {
  .header {
    grid-template-columns: auto auto;
  }
  .input-box {
    order: 3;
    grid-column: span 2;
  }
}
@media(max-width:450px) {
  .header {
    display:block;
  }
  .header #userImage--header,
  .header .user-icon{
    display:none;
  }
 
}
.input-box input {
  padding: 10px;
  width: 100%;

}
.input-button {
  background-color: var(--black);
  height: 44px;
  min-width: 45px;

  cursor: pointer;

  color: var(--white);
  font-size: 18px;
  padding: 10px;
  display: block;
  text-align: center;
}

.user {
gap: 20px;
text-transform: capitalize;
}
.user-img {
  min-width: 45px;
  height: 45px;
  overflow: hidden;

  position: relative;
  border-radius: 50%;
  background: radial-gradient(#e05852, #e38955);
  font-size: 30px;
  color: #fff;
  max-width: 45px;

}


.user-img img {
  border-radius: 50%;
  box-shadow: 0 0 2px #554f4f;
  display: block;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.newBook-list {
  margin: 60px auto;
  position: relative;
  z-index: 10;
}

.newBook-list > .btns button {
  font-size: 70px;
  cursor: pointer;
  line-height: 0.3;
}
.newBook-list .book-box {
  min-width: 250px;
}
.newBook-list .scrollable {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}




.grid {
  margin: 40px 5vw 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
@media(max-width:1090px) {

.grid {

  gap: 10px;
}
}




#loading-div {
  height: 100%;
  position: absolute;
  width: 100%;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: white;
}

.hideLoading {
  animation: hideLoading ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideLoading {
  0% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}





.form form {
  position: relative;
}

.form-control {
  width: 100%;
  box-sizing: border-box;

  border-radius: 13px;
  padding: 7px;

  padding-left: 15px;
  border: 1px solid var(--border);
  margin-bottom: 25px;
  position: relative;
}
.form form .image-box:focus,
.form-control:focus-within {
  border: 2px solid #c7c7c7;
}
.form form .image-box svg {
  font-size: 100px;
  margin: auto;
fill: var(--border);
}
.form label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 10px;
color: var(--border);
  display: block;
}
.form div select,
.form div textarea,
.form div input {
  border: none;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  background: transparent !important;
  font-weight: 500;

  resize: none;
  width: 100%;
}

.form
 .eye {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.btn {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;

  display: inline-block;
  width: fit-content;
  vertical-align: middle;
  --bg: rgb(77, 110, 240);
  background: var(--bg);

  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:active {
  box-shadow: 2px 2px 0 rgba(rgb(77, 110, 240), 0.5);
}

.btn.B {
  font-size: 22px;
  padding: 8px 25px; 
}
.btn.r {
  background: #d34343;
}

.form p {
  color: #7c8594;
  margin-top: 15px;
}
.form p span {
  color: rgb(77, 110, 240);
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
.form p span:hover {
  text-decoration: underline;
}

/* user acount section */


.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -300;
  top: 0;
  right: 0;
  opacity: 0;
  background: #00000057;
  transition: 0.3s ease;
}

.show {
  opacity: 1;
  z-index: 3000;
  transform: translateY(0%) !important;
}

.form .grid {
  display: grid;
  gap: 25px;
  margin: 0 auto 20px;
  grid-template-columns: 1fr 1fr;
}

.form .grid .form-control {
  margin-bottom: 0px;
  height: fit-content;
}
.form .grid .form-control:first-child {
  grid-column: span 2;
}
.form .grid .form-control:nth-child(4) {
  width: calc(200% - 170px);
  height: 100%;
}
.form .grid .image-box {
  width: 172px;
  padding: 10px;
  text-align: center;
  place-self: center flex-end;
  min-height: 245px;
}

.form .image-box i {
  font-size: 100px;
  pointer-events: none;
}
@media (max-width: 900px) {
  
  .form .grid {
    grid-template-columns: 1fr 160px;
  }
  .form .grid .form-control:first-child {
    grid-column: span 1;
    order: 1;
  }
  .form .grid .form-control:nth-child(3) {
    order: 2;
  }
  .form .grid .form-control:nth-child(4) {
    grid-column: span 2;
    order: 2;
    width: 100%;
  }
  .form .grid .form-control:nth-child(5) {
    grid-row: span 3;
  }
  .form .image-box i {
    font-size: 50px;
  }
}

@media (max-width: 440px) {
  #profileForm > .center {
    gap: 0 !important;
    flex-direction: column;
  }
}
#profileForm .image-box {
  height: 150px;
  min-width: 150px;
  max-width: 150px;
  padding: 5px;
}
#profileForm .image-box img {
  border-radius: 5px;
}

.reviw {
  text-align: left;
  background: #f6f8fc;
  padding: 2px 15px 15px;
  border-radius: 0 20px 20px 20px;
  margin-bottom: 15px;
}
.reviw h4 {
  text-align: left;
}

.btns {
  padding: 15px 0;
  justify-content: space-evenly;
  width: 100%;
}

.book-detail-cont {
  z-index: 400;
 
  transform: translateY(100vh);

  flex-direction: column;
}
.book-d-cont {
  width: fit-content;
  height: 95vh;
  max-width: 90vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 4px double var(--border);
}
.book-d-cont .back {
  background: #8d2e3d;
  box-shadow: 0 0 5px 10px #00000012;
  font-size: 30px;
  top: 5px;
  right: 5px;}
.book-detail {
  max-width: 90vw;
  width: 100%;
  min-height: 100%;
  background-image: url("https://uploads-ssl.webflow.com/6359140b3878a7a73023f955/635a989c76b13b6211bd581f_Bg-grid-pattern.webp");;
  overflow: scroll;
padding:0 20px 20px 0;
max-height: 100%;
background-position: 0px 0px;
background-size: 45px;
background-color: var(--bg);
}
@media (max-width:860px){
  .book-d-cont ,
  .book-detail {
    max-width: 100vw;
    height:100vh;
  }
}


 .back {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 300;
  background: var(--color);
  color:#fff;
  border-radius: 50%;
  font-size: 25px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  line-height: 3px;
}
.book-detail .fl {
  gap: 9px 30px;
  display: grid;
  grid-template-columns: 320px 1fr;
  align-items: flex-start;
}
.book-detail .fl .left {
  grid-row: span 3;
  position: sticky;
  top: 0;
}

.book-detail .book-cover {
  height: 460px;
  object-fit: contain;
  display: block;
  border: 4px double var(--border);
  border-top: none;
  border-left: none;
  min-width: 100%;
  max-width: 100%;
}
.book-detail .book-cover img {
  display: block;
  height: 100%;
  width: 100%;
}
.book-detail .genre {
  margin-top: 10px;
  white-space: nowrap;
}
.book-detail .genre span {
  color: #712f2d;
  margin-right: 15px;
}
.book-detail #genre-2 {
  display: none;
}
.book-detail .book-info #title {
  font-size: 25px;
  margin: 20px 0 5px;
  width: 90%;
}
.book-detail .book-info #auther {
  text-transform: capitalize;
  width: fit-content;
  color: #003566;
font-family: cursive;
}
body.dark .book-detail .book-info #auther {

  color:#B6EADA;

}
@media (max-width: 700px) {
  .book-detail  {
  padding: 20px;
  }
  .book-detail .fl {
  
    display: block;
  }
  .book-detail .review-cont,
  .book-detail #genre-1 {
    display: none;
  }

  .book-detail #genre-2 {
    display: block;
    border: 2px solid #d5a331;
    padding: 10px 20px;
    width: fit-content;
    place-self: flex-end flex-start;
    background: #0e0d0c;
    border-radius: 5px;
    color: #fff;
  }
  .book-detail #genre-2 span {
    color: #fed26f;
  }

  .book-detail .book-cover {
    border: 3px double var(--border);
    min-width: 200px;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
  }
  .book-detail .fl .left {
    position: unset;
  }
 
}
@media (max-width: 520px) {

  .book-detail .book-info #title {
    font-size: 25px;
  }

  .book-detail .book-info #auther {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .book-detail  {
    padding: 20px 10px;
   
  }
}




.book-detail #share {
  padding: 10px;
  margin-top: 15px;
  font-size: 30px;
  border: 3px double var(--border);
  text-transform: capitalize;
 
}

.book-detail #share > .center {
  justify-content: flex-start;
  gap: 15px;
}
.book-detail #description {
  margin: 15px 0px 5px;
  font-size: 16px;
}



.book-detail .review-cont  h1 {
  border-bottom: 2px solid var(--border);
  margin: 40px 0;
}

.book-detail .review  {

  padding: 10px 15px;
gap: 15px;
position: relative;
background: #efebe7;
border-radius: 5px;
align-items: flex-start;
margin-bottom: 10px;

}
body.dark .book-detail .review  {

background: #012133;


}
.book-detail .review h4 {
 margin-bottom: 5px;
 text-transform: capitalize;
}

.book-detail .review>div{
width:100%


}
.book-detail .review .s-p{
  text-align: right;
  margin-top: 5px;


}
.book-detail .review .s-img{
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border: 2px solid var(--bg);
  position: sticky;
  top:0;


}

#addreview-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  transform: translateY(70px);
}

.book-detail-cont .book-btn {
  font-size: 25px;
  background: #222;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  box-shadow: 0 1px 15px 0 rgba(0,0,0,.3),0 2px 20px 5px rgba(0,0,0,.15);
}

#addreview-btn svg {
  width: 25px;
  fill:#fff;
}
#review-form {
  padding: 15px;
  width: calc(100% - 60px);
  margin: 0 30px 15px;
  border-radius: 5px;
  background: var(--bg);
  transition: transform 0.3s ease;
  max-height: 55px;
  box-shadow: 0 1px 15px 0 rgba(0,0,0,.3),0 2px 20px 5px rgba(0,0,0,.15);
}



#addreview-cont form textarea {
  width: 100%;
  padding: 0 5px;
  max-height: 200px;
  height: 24px;
  overflow-y: hidden;
}
#addreview-cont form button {
  display: block;
  font-size: 25px;
  cursor: pointer;
}


.delete-box {
  margin: auto;
  padding: 30px;
  background: #fff;
  font-size: 30px;
  border-radius: 10px;
  width: 420px;
  max-width: 95vw;
  text-align: center;
}
.delete-box .flex-e {
  gap: 15px;
  margin-top: 15px;
}
.delete-box .flex-e .b{
  padding: 0 15px;
  background-color: transparent;
  text-transform: capitalize;
  color: var(--color);
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}
.delete-box .flex-e .b:hover{
 background-color: #eee;
}
.delete-box .flex-e .b.r{
 background-color: #ff2828;
 color: #fff;
}
.delete-box .flex-e .b.r:hover{
 background-color: #f85050;
}



.best-user {
  margin: 10px 0px;
}
.best-user h2{
  margin-bottom: 20px;
  font-size: 35px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  gap: 10px 30px;
}


.share-book {
  padding: 20px;
border-radius: 5px;
background: var(--bg);
position: relative;

transform: translateY(-100vh);
transition: 0.3s ease;
}
.share-book h2 {
  margin-bottom: 20px;}
.share-book .back{
top:-10px;
right:-10px;
}
.popup.show .share-book{
  transform: translateY(0);
}


.book-box .book-head.active{
  gap:5px;
  top:5px;
  z-index:5;
}
@media (max-width:700px) {
  .popup {
    height: 100vh;
    width: 100vw
  }

  .book-d-cont  {
    height: 100%;
    border-radius: 0;
    overflow-y: scroll;
  }
  .share-book{
    height: fit-content;
    max-height: calc(100vh - 16px);
    overflow-y: scroll;
max-width: calc(100vw - 16px);
  }
 
  .share-book .back {
    top: 0;
    right: 0px;
    border-radius: 0 5px 0 10px;
  }
 
 
  .delete-box {
    font-size: 25px;
    padding: 20px;
  }
  .delete-box .center {
    margin-top: 8px;
  }

  .btn.B {
    font-size: 22px;

    height: fit-content;
  }
  .page-head h2  {
    width: fit-content;
  }
}



.settings .head {
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  height: 65px;
  gap: 30px;
  padding: 0 10px;
}
.settings section {
  padding: 20px;
  max-height: calc(100vh - 65px);
overflow-y: scroll;}
.settings section h4{
margin-bottom: 15px;}
.settings section .form:last-child{
margin-top: 15px;}
.settings section .form-control {

  border-radius: 5px;
  padding: 5px;

  margin-bottom: 10px;}

.settings .image-cont {
  width: 100%;
height: 100%;
}

.users-list {
  display: grid;
  margin: 40px 5vw 20px;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));}
  .users-list .user-card{
    border-radius: 0;
    border: 3px double var(--border);
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .users-list .user-card .user-img{
    width: 100%;
    height: 100%;
    background-color: none;
    border-radius: 0;
    max-width: 100%;
  }
  .users-list .user-card .user-img img{
    border-radius: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1.3;
    transition:transform 0.8s ease;
    filter: grayscale(0.7);
  }
.users-list .user-card .info{
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #fff;
  opacity: 0;
  z-index: 200;
  align-items: flex-start;
  padding: 10px 20px;
  
  transition:opacity 0.8s ease;

}
.users-list .user-card .info .icons svg{
  margin-bottom: 10px;
}
.users-list .user-card .info h4{
  font-size: 25px;
}
.users-list .user-card:hover .user-img img{
  transform: scale(1.5);
transform-origin: top left;
filter: grayscale(0.7) brightness(0.4);

}
.users-list .user-card:hover .info {
  opacity: 1;
}
.register-page {

  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100vh;
  align-items: center;}
  .register-page .left {
    padding: 2vw 6vw;

  }
  .register-page>.right {
    padding: 2vw 5vw;
    padding: 2vw 5vw;
height: 100%;
background: linear-gradient(to top,transparent 10%, #95BDFF 10% ,  #95BDFF 30% ,transparent 30%, transparent 40%, #b7d3ff 40% , #b7d3ff 60% ,transparent 60%, transparent 70%,  rgb(188, 212, 250) 70%, rgb(188, 212, 250) 90% ,transparent 90%, transparent 100% );

  }
.register-page .logo{
 margin-top: -50px;
  margin-bottom: 60px;}
.register-page .headlin{
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 20px;}
  .flip-card {
    background-color: transparent;
    width: 100%;
    perspective: 1000px;
  
  }
  .flip-card h1 {
    margin-bottom: 20px;}
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
  
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  .flip-card-inner .hidden {
    pointer-events: none;
    z-index: -2;
  }
  
  .flip-card-front,
  .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    height: fit-content;
    width: 100%;
    padding: 30px 20px;
    top: 50%;
    transform: translateY(-50%);
    border: 4px double var(--border);
    background: var(--bg2);
  }
  
  .flip-card-back {
    transform: translateY(-50%) rotateY(180deg);
  }
  @media (max-width:600px) {
    header .links {
      transform: translateY(-100vh);
      position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #222;
    color: var(--bg);
    flex-direction: column;
    height: 100vh;
    z-index: 250;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    transition:transform 0.3s ease;
  }
  header.show-nav .links {
    transform: translateY(0);
  }
  header .left a.active{
  
   text-align: center;
    width: 100%;
  }
  header .left a.active{
  
    background: var(--bg);
    color: #222;
  
  }
  header .nav-btn {
  
  display: block;
  }
  header.show-nav .nav-btn span:first-child,
header.show-nav .nav-btn span:last-child {
  transform: translateY(-50%)}
  }


  @media (max-width:1100px){
    .right-side {
      position: fixed;
      right: 0;
      top: 0;
      background: var(--bg);
      z-index: 3500;
      transform:  translateX(100%);
      transition: 0.3s ease;
      max-width: 550px;}
      .body-cont.show-rightSide .right-side {
        transform:  translateX(0);
      }
  }

.book-count {
white-space: nowrap;
}
  @media (max-width:512px) {
    .book-count{
      font-size: 14px;}
    .user-nav {
      flex-wrap: wrap;
    }
    .user-nav .child:first-child {
      border-right: none;
      border-bottom:1px solid var(--border);
    }
    .user-nav form.child {
      width: calc(100% - 63px);
    }
  }

  @media (max-width:460px) {
    .form .grid {
      grid-template-columns: 100%;
    }
    .form .grid .form-control:nth-child(5) {
      grid-row: 1;
      width: 100%;
    }
    .form .grid .form-control:nth-child(4) {
      grid-column: span 1;
    
    }
  }